.chat-main
  %ul.chat-main__group-info
    %ui.chat-main__group-info__current
      %li.chat-main__group-info__current--group
        = @group.name
      %li.chat-main__group-info__current--member
        Member :  #{current_user.name}
    %li.chat-main__group-info
    = link_to edit_group_path(@group),  class: "chat-main__group-info__btn-edit" do
      Edit
  .chat-main__message-list
    = render @messages

  .chat-main__message-form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .new-message
        = f.text_field :content, class: 'input-text', placeholder: 'type a message'
        = f.label :image, class: 'input-photo' do
          = icon('far', 'image')
          = f.file_field :image, class: 'input'
        = f.submit 'Send', class: 'submit-btn'